.fav-footer {
  padding-top: 30px !important;
}

.fav-footer h1 {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  margin-bottom: 5px;
}

.fav-footer span {
  font-size: 15px;
}

.fav-footer p {
  font-size: 15px;
}

@media screen and (max-width: 375px) {
  header {
    margin-bottom: 95px;
  }
}

@media screen and (max-width: 320px) {
  header {
    margin-bottom: 65px;
  }
  .side-menu {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .offset-md-2 {
    margin-left: 0px !important;
  }
}
