.container-fluid{
  padding-right: 30px;
  padding-left: 30px;
}

.fav-about{
  padding-top: 100px;
  padding-bottom: 0px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-bottom: 2px;
}

.sec-header{
  font-size: 15px;
  text-transform: uppercase;
  color: #999;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  padding-top: 30px;
}

section h3 {
  margin: 0 !important;
  line-height: 36px !important;
  font-size: 26px;
}

p{
  font-size: 18px;
  line-height: 1.5em;
  margin: 0 0 20px;
  color: #999;
  font-weight: 400;
}

.signature {
  width: 200px;
  height: auto;
}
