.fav-contact {
  padding-top: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

.contact-heading {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
}
.contact-par {
  font-size: 20px;
}

b {
  color: #fff;
  font-size: 20px;
}

.phone-link a {
  color: #999;
}

.phone-link a:hover {
  color: #fff;
}

.form-control {
  background: #1b1b1b;
  /*border: none;*/
  /*border-bottom: 1px solid #1b1b1b;*/
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  padding: 10px 15px;
  height: auto;
  color: white;
}

#message {
  height: 130px;
  color: #999;
}
#message:focus {
  color: #fff;
}
/*This is when you click on a specific form group on the form*/
.form-control:focus {
  border-color: #fff !important;
  box-shadow: none;
  background-color: black;
  color: #fff;
}


/*alert*/
.alert-warning {
    color: white !important;
    background-color: #000000 !important;
    border-color: #FFF !important;
    font-size: 18px;
}

.alert {
    position: fixed !important;
    bottom: 16px !important;
    right: 16px !important;
    z-index: 1000 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.alert-dismissible {
  padding-right: 4rem !important;
}

.close span:hover {
  color: #FFF;
}

.close span {
  color: #FFF !important;
}

#success-pop-up {
  visibility: hidden;
  -webkit-transition: opacity 2.0s ease-in;
       -moz-transition: opacity 2.0s ease-in;
         -o-transition: opacity 2.0s ease-in;
                                  opacity: 1;
}

#error-pop-up {
  visibility: hidden;
}
