.fav-gallery {
  padding-top: 30px;
  padding-bottom: 0px;
  clear: both;
  width: 100%;
  display: block;
}

.fav-heading {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 5px;
}
